# Kakao Developers > 내 애플리케이션 > 앱 키 > JavaScript 키
# https://developers.kakao.com/
NEXT_PUBLIC_KAKAO_MAP_APP_KEY=

# Supabase — https://supabase.com/dashboard/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
